<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="#FFFFFF" (click)="cancel()">
        <ion-icon size="large" name="chevron-back"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">
        <ion-icon size="large" name="clipboard"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="desc">
    <ion-input labelPlacement="" label="" [(ngModel)]="title" placeholder="Title"></ion-input>

  </div>
  <div>
    <ion-textarea label="" [autoGrow]="true" placeholder="Type something..."></ion-textarea>
  </div>


</ion-content>