ion-input {
    font-size: 30px;
    margin: 5px;
}

ion-textarea {
    
    font-size: 20px;
}

.desc { 

    padding-left: 15px;
}

ion-item {
    
}
ion-content {
    
}


.custom-icon {
    width: 32px;
    height: 32px;
    color: red ;
    /* Add any other desired styles */
  }