@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

ion-toolbar {
    --background: #252525;
    --color:#FFFFFF;
  }
  
  ion-content {
    --background: #252525;
  }

ion-input {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 5px;
    color:  #e6e6e6;
}





ion-textarea {
    
    font-size: 20px;
    color:  #e6e6e6;

}

.desc { 

    padding-left: 15px;
    
}

ion-item {
    
}
ion-content {
    
}


.custom-icon {
    width: 32px;
    height: 32px;
    color: red ;
    /* Add any other desired styles */
  }