ion-toolbar {
  --background: #252525;
  --color:#FFFFFF;
}

ion-content {
  --background: #252525;

}

ion-fab-button {
  --background: #25252596;
  --color: #FFFFFF;
  --border-radius: 50%;
  --background-activated: #3B3B3B;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4), -5px 0px 10px rgba(0, 0, 0, 0.4);
  ;
}

.img-container{
  margin: 0 auto;
  width: auto;
  height: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(/assets/notes-bro.png);
  background-size: 100% 100%;
}