<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title slot="start">Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  </div>


  <!-- note card -->
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let item of data">
        <ion-col size="6">
          <app-note-card [item]="item"> </app-note-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>


  <!-- fab button -->
  <ion-fab vertical="bottom" horizontal="end" mode="ios">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

